<!-- <p>register works!</p> -->

<header>
    <div class="container">

        <form [formGroup]="form">

            <div class="form-group ">
                <label for="email">Email</label>
                <input type="email"
                       name="email"
                       class="form-control"
                       id="email"
                       placeholder="Enter email"
                       formControlName="email"
                       required
                       (blur)="checkPassenger()"
                       email>
            </div>
            <small *ngIf="noSuchEmail"
                   class="form-text text-muted" style=" color: hsl(0, 78%, 75%)!important">
                No such email
            </small>

            <div class="form-group ">
                <label for="password">Password</label>
                <input type="password"
                       name="password" formControlName="password"
                       id="password" placeholder="Password" required
                       class="form-control ng-untouched ng-pristine ng-invalid"
                       ng-reflect-required ng-reflect-name="password"
                       autocomplete="current-password">

            </div>
            <small *ngIf="incorrectPassword"
                   class="form-text text-muted" style=" color: hsl(0, 78%, 75%)!important">
                Incorrect password
            </small>


            <div class="form-check">
                <input type="checkbox"
                       name="checkbox"
                       class="form-check-input"
                       id="checkbox"
                       required>
                <label class="form-check-label" for="gridCheck">
                    Check me out
                </label>
            </div>


            <br>
            <button (click)="signin()"
                    type="submit"
                    class="btn btn-primary "
                    aria-hidden="true">
                Sign in
            </button>




        </form>

    </div>
</header>