<div class="container">

    <div *ngFor="let order of orders; let i = index"
         class="card mb-3" style="max-width: 100%;">
        <div class="row g-0">
            <div class="col-md-4">
                <img [src]="foods[i]?.imageUrl" class="img-fluid rounded-start" [alt]="foods[i]?.name">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <p class="card-text">Order owner: {{ order.orderOwner }}</p>
                    <p class="card-text">Name: {{ foods[i]?.name }}</p>
                    <p class="card-text">Address: {{ order.address }}</p>
                    <p class="card-text">Amount: {{ order.amount }}</p>
                    <p class="card-text"><small class="text-muted">{{ order.status }}</small></p>

                    <!--<select class="form-select" style="width:40%">
                        <option selected> {{ order.status }} </option>
                        <option (click)="prepare()">Preparing</option>
                        <option (click)="onTheWay($event, order.orderId!)">On the Way</option>
                        <option (click)="deliver($event, order.orderId!)">Delivered</option>
                    </select>-->

                </div>
                
            </div>
        </div>
    </div>

</div>