<div class="container">
    <div *ngFor="let order of orders; let i = index"
         class="card mb-3 col-md-12"
         style="max-width: 100%;"
         [routerLink]="['/order-detail-admin', order.orderId]">

        <div class="row g-0">
            <div class="card-body">
                <h5 class="card-title">{{ order.orderDate | date:'medium' }}</h5>
                <p class="card-text"><small class="text-muted">{{ statuses[order.statusId!] }}</small></p>
            </div>
        </div>

    </div>
</div>
