<!-- <p>Header component works!</p> -->

<header>
    <div class="container">

        <nav id="navbar">
            <a href="#" id="navbar-logo">Chef</a>
            <!-- before sign in -->

            <ul>
                <li><a href="#" id="signin-button" >Sign in</a></li>
                <li><a href="#" id="register-button">Register</a></li>
                <li><a href="#" id="shopping-button"><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>

            <!-- after sign in to user -->
            <!--<ul>
                <li><a id="profile-button">My profile</a></li>
                <li><a id="logout-button">Log out</a></li>
                <li><a id="shopping-button"><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>-->

            <!-- after sign in to admin -->
            <!--<ul>
                <li><a id="logout-button">Log out</a></li>
            </ul>-->

        </nav>

        <nav id="slogan">
            <h1>
                <b>Food</b> you love <br>
                from <b>your favorite </b>chef
            </h1>
        </nav>

    </div>
</header>